<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <h2 class="text-center">Edit Products</h2>
                    <form method="post" action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data">
                        <label for="name">Name</label>
                        <input type="text" value="{{product.name}}" name="name" class="form-control" />
                        <label for="price">Price</label>
                        <input type="number" name="price" value="{{product.price}}" class="form-control" />
                        <label for="category">Category</label>
                        <input type="text" name="category" value="{{product.category}}" class="form-control"/>
                        <label for="description">Description</label>
                        <input type="text" name="description" value="{{product.description}}" class="form-control" />
                        <br />
                        <div class="pb-3">
                        <img id="imgView" style="height: 8rem;" src="/images/product-images/{{product._id}}.jpg" alt="">

                        </div>
                        <label for="image">Product Image</label>
                        <input type="file" name="image" class="form-control" onchange="viewImage(event)" /><br />
                        <button class="btn btn-success" type="submit">SUBMIT</button>

                    </form>
        </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById("imgView").src = URL.createObjectURL(event.target.files[0])
    }
</script>