<section>

  <div class="container">
    <div class="row">
      <div class="col-md-3"><a
          class="btn btn-primary m-5 "
          style="margin: auto;"
          href="/admin/add-product"
        >Add Product</a></div>
    </div>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row"></th>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.description}}</td>
            <td><img style="width: 50px;" src="/product-images/{{this._id}}.jpg" alt="" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>