<section>
  <div class="container">
    <div class="row mt-5">
      {{#each order}}
        <div class="col-md-3 mb-4">
          <div class="card text-center" style="width: 18rem;">
            <img
              style="height: 20rem;object-fit:cover;"
              src="/product-images/{{this.product._id}}.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">

              <h4 class="card-title">{{this.product.name}}</h4>
              <h5>{{this.category}}</h5><span>{{this.price}}</span>
              <p
                class="card-text"
                style="height:30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
              >{{this.quantity}}</p>

            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>